<p id="notice"><%= notice %></p>

<p>
  <strong>Rfidcode:</strong>
  <%= @bluetoohsearch.rfidCode %>
</p>

<%= link_to 'Edit', edit_bluetoohsearch_path(@bluetoohsearch) %> |
<%= link_to 'Back', bluetoohsearches_path %>
